


  .code_commente { 
    	border: 1px solid ;
    	position: relative;
    	color: black;
    	background-color: white;
    }

  .code_commente img { 
	display: none;
    }

  .code_commente .code_hotspot .code_explain img { 
	display: block;
    }

  .code_fonction { color: rgb(139, 35, 35);
    }

  .code_include { color: rgb(0, 0, 205);
    }

  .code_string { color: rgb(0, 139, 0);
    }

  .code_type { color: rgb(70, 130, 180);
    }

  .code_variable { color: rgb(139, 0, 139);
    }

  .code_code { color: rgb(0, 0, 0);
    }

  .code_commente div.code_hotspot { 
	position : absolute;
	z-index:1000;
    }

  .code_commente div.code_hotspot div.code_explain { 
	border: 1px solid ;
        position: absolute;
    	width: 600px;
    	left: 250px;
    	background-color: white;
    	font-family: Arial,Helvetica,sans-serif;
	padding : 1em;
	z-index:10;
	display: none;
    }

  .code_commente div.code_hotspot:hover div.code_explain, 
  .code_commente div.code_hotspot.over div.code_explain { 
    	display: block;
	z-index:300;
    }

  .code_commente div.code_hotspot:hover, 
  .code_commente div.code_hotspot.over {     
    	border: 1px solid rgb(0, 139, 0);
    }

