
div.LocalNavBar
{
	background-color:#C1C1C1;
	border-color:#000000;
	border-width:1px;
	border-style:solid;
	border-top-style:none; /* parce que le header en a déjà une */
	border-bottom-style:none;
}

ul.NavBar li.selected
{
	background-color:#DDDDDD;
}

ul.NavBar li.selected ul a 
{
	text-decoration:none;
}

ul.NavBar li ul 
{
	border-width:1px 0px 1px 1px;
	border-style:solid;
	background:#FFF;
}

ul.NavBar li a
{
	font: bold .95em/2em Verdana, Arial, Helvetica, Sans-serif;
	text-transform:uppercase;
}

ul.NavBar li ul li a, ul.NavBar li:hover li a,ul.NavBar li.over li a
{
	font: bold .95em/2em Verdana, Arial, Helvetica, Sans-serif;
	text-transform:none;
	color:#9E9E9E;
}

ul.NavBar li:hover a, ul.NavBar li.over a
{
	color:#FFFFFF;
}

ul.NavBar li ul li a:hover
{
	background-color:#999999;
	color:#ffffff;
}
