
#footer { border-bottom:5px solid #9191a5; }

div#header
{
	background: rgb(68, 35, 16) url("../images/systemc.png") top right repeat-y;
	border-width: 10px 1px 0;
	height: 120px;
	padding: 0;
	margin: 0 auto;
	position: relative;
	top:0;
	left:0;
	right:0;
	z-index:200;
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}


h1 {
	font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size:2.3em;
	text-transform:uppercase;
	font-weight:normal;
	margin:0;
	padding:0;
	padding-top:5px;
	color:#736451;
	margin-bottom:10px;
	text-align:left;
}



h2 {
	font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size:25px;
	text-transform:uppercase;
	text-align:right;
	font-weight:normal;
	margin:0;
	padding:0;
	margin-top : 5px;
	color:#635441;
	border-bottom:1px solid #eeeeee;
}

h3 {
	font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size:25px;
	text-transform:uppercase;
	font-weight:normal;
	border-bottom:1px solid #eeeeee;
	color:#728c40;
}



div.panneau {
	font-family:"Trebuchet MS", Arial, Verdana;
	color:#555555;
	background-color:#ffffff;
	text-align:left;
	background-image:url(../images/cote.jpg);
	background-repeat:repeat-x;
	background-position: 0px 1px;
}

div.panneau a {
	color:#4D87CE;
}

div.panneau a:hover {
	color:#2a65ad;
}

pre.verbatim {
	color : red;
	border-color: black;

}



div.LocalNavBar
{
	background-color:#B4CE82;
	border-color:#000000;
	border-width:1px;
	border-style:solid;
	border-top-style:none; /* parce que le header en a déjà une */
	border-bottom-style:none;
	text-decoration:none;
}

div.LocalNavBar div.navbar_icons ul li a img
{
	background-color:#B4CE82;
}


ul.NavBar li ul 
{
	border-width:1px 0px 1px 1px;
	border-style:solid;
	background:#FFF;
}


ul.NavBar li.selected
{
	background-color:#FFFFFF;
	border-width: 0 1px 0 1px;
	border-style: solid;
}


ul.NavBar li a
{
	font: .95em/2em Verdana, Arial, Helvetica, Sans-serif;
	text-transform:uppercase;
	color: #736451;
}



ul.NavBar li ul li a, ul.NavBar li:hover li a,ul.NavBar li.over li a
{
	font: .95em/2em Verdana, Arial, Helvetica, Sans-serif;
	text-transform:none;
	color:#9E9E9E;
	border-top: 0;
	border-left: 3px solid #FFFFFF;
}

ul.NavBar li:hover a, ul.NavBar li.over a
{
	color:#736451;
	border-top: 4px solid #736451;
	padding-top : 0px;

}

ul.NavBar li ul li a:hover
{
	background-color:#FFE8E8;
	color:#9E9E9E;
	border-left: 3px solid #000000;
}


